doctype html
html(lang="ru-Ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Операции с заказом
        link(rel="stylesheet" type="text/css" href="css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        script(src="js/libs.min.js")
        script(src="js/main.js")
    body.page
        span.wrapper-goToBack
            a.goToBack(href='../index.html') "Г"
        section.container-fluid.order-transactions.page__order-transactions
            .row
                .col
                    h1.title.order-transactions__title Оплата, получение, обмен или возврат заказа
            .row
                .col
                    ul.accordion.order-transactions__accordion
                        li.accordion__item.i-accordion__item
                            .accordion__wrapper-title.i-accordion__wrapper-title
                                h2.accordion__title Как заказать и забрать в магазине?
                                i.accordion__arrow.i-accordion__arrow
                                p.accordion__short-info Вы можете оформить заказ на сайте и выбрать тот магазин, где Вам удобно получить товар.
                            .accordion__long-info.i-accordion__long-info
                                p.accordion__question Как оформить заказ?
                                p.accordion__answer Для оформления заказа добавьте товар в корзине, для этого нажмите на кнопку «В корзину».
                                p.accordion__answer Когда все желаемые товары добавлены в корзину, перейдите туда для оформления заказа. Там необходимо указать способ доставки, оплаты, контактную информацию и завершить оформление нажатием кнопки «Заказать».
                                p.accordion__answer Чтобы оформить заказ по телефону, нажмите на кнопку «Купить в 1 клик», во всплывающем поле необходимо указать свой номер телефона и нажать «Подтвердить». После этого с вами свяжется оператор для подтверждения информации по заказу.
                                a.accordion__more-info(href="#") Подробнее с информацией по выбору и оформлению заказов на сайте читайте в разделе «Как сделать заказ?».
                                p.accordion__question Когда можно забрать заказ в магазине?
                                p.accordion__answer На указанный Вами номер телефон будет отправлено СМС-уведомление, о том что Ваш заказ готов к выдаче.
                                p.accordion__question Сроки получения товаров зависят от наличия товаров в пунктах самовывозов.
                                p.accordion__answer
                                    | Если товар есть в наличии, то получить его можно сразу.
                                    br
                                    | Если товара нет в наличии, с Вами свяжется оператор и сообщит о возможных сроках получения.
                                    br
                                    | Если товар есть в наличии в выбранном городе, но его нет в конкретном магазине, срок получения будет зависеть от времени заказа.
                                    br
                                    b • При оформлении заказа до 15:00
                                    |  получить товар можно утром на следующий день.
                                    br
                                    b • При оформлении заказа после 15:00
                                    |  товар будет доступен для получения через один день.
                                a.accordion__more-info(href="#") Режим работы магазина вы можете найти на странице "Контакты".
                        li.accordion__item.i-accordion__item
                            .accordion__wrapper-title.i-accordion__wrapper-title
                                h2.accordion__title Как оплатить заказ?
                                i.accordion__arrow.i-accordion__arrow
                                p.accordion__short-info Оплату можно провести удобными для Вас способами. Например, можно заказать на сайте, а оплатить в магазине при получении.
                            .accordion__long-info.i-accordion__long-info
                                p.accordion__question Оплата банковскими картами
                                p.accordion__answer Покупку можно оплатить картами VISA, MasterCard и МИР с возможностью оплаты через интернет.
                                p.accordion__answer Оплата осуществляется через защищенную платежную систему ПАО «Сбербанк России». На странице оплаты укажите необходимые данные банковской карты и, если потребуется, код подтверждения.
                                p.accordion__answer
                                    i Внимание! В случае оформления заказа по телефону, на страницу оплаты можно перейти через личный кабинет, указав номер заказа.
                                p.accordion__answer Доставка и выдача заказа на пунктах самовывоза производится после получения платежа.
                                    b  Заказ аннулируется, если оплата не поступает в течение 5 дней.
                                a.accordion__more-info(href="#") Подробнее про оплату банковскими картами
                                p.accordion__question Оплата наличными
                                p.accordion__answer Вы можете оплатить заказ наличными при получении в магазине, либо курьеру при доставке.
                                p.accordion__question Оплата бонусами
                                p.accordion__answer
                                    | Товары из заказа полностью или частично можно оплатить с помощью бонусов при оформлении заказа.
                                    br
                                    | Бонусы рассчитываются целыми числами.
                                    b  1 бонусный рубль = 1 рубль.
                                p.accordion__question Правила списания бонусных рублей
                                p.accordion__answer
                                    | • Оплата 100% стоимости товара - при наличии завершенных заказов на сумму более 3000 р.
                                    br
                                    | • Оплата 30% стоимости товара - при наличии завершенных заказов на сумму менее 3000 р.
                                p.accordion__answer
                                    i Внимание! При возврате товара бонусные рубли не возвращаются.
                                a.accordion__more-info(href="#") Подробнее про условия бонусной программы.
                                p.accordion__question Оплата подарочным сертификатом
                                p.accordion__answer
                                    | Оплатить частичную или полную стоимость заказа можно с помощью подарочного сертификата.
                                    br
                                    | Воспользоваться услугой оплаты подарочным сертификатом возможно только при самовывозе из розничного магазина.
                                a.accordion__more-info(href="#") Выбрать подарочный сертификат
                        li.accordion__item.i-accordion__item
                            .accordion__wrapper-title.i-accordion__wrapper-title
                                h2.accordion__title Как оформить доставку и разгрузку товара?
                                i.accordion__arrow.i-accordion__arrow
                                p.accordion__short-info Пожалуйста, ознакомьтесь с нашими правилами - их соблюдение поможет нам привезти Ваш заказ максимальлно быстро и качественно.
                            .accordion__long-info.i-accordion__long-info
                                p.accordion__question Необходимая информация
                                p.accordion__answer При заказе доставки просим Вас предоставить следующую информацию:
                                p.accordion__answer
                                    | • Адрес (населенный пункт, улица, номер дома)
                                    br
                                    | • Контактный телефон (желательно указать второй номер)
                                    br
                                    | • Подъезд к дому (с какой улицы, двор, арка, пропуск, место для разгрузки)
                                    br
                                    | • Наличие лифта, этаж, номер квартиры (При услуге «разгрузка»)
                                p.accordion__question Доставка
                                p.accordion__answer
                                    | Установите интервал доставки, когда хотите получить товар.
                                    br
                                    | При опоздании курьера на 1 час стоимость доставки снижается на 50%, при опоздании на 2 часа – доставка бесплатная.
                                p.accordion__answer Доставка осуществляется автомобилями от 3 до 20 тонн.
                                p.accordion__question Дополнительные услуги
                                p.accordion__answer
                                    | Дополнительно можно заказать разгрузку товара на машинах
                                    b  до 1,5 тонн.
                                    br
                                    | Для крупногабаритных грузов доступна разгрузка с помощью манипулятора.
                                a.accordion__more-info(href="#") Подробнее с условиями доставки можно ознакомиться в разделе «Доставка и разгрузка».
                        li.accordion__item.i-accordion__item
                            .accordion__wrapper-title.i-accordion__wrapper-title
                                h2.accordion__title Как вернуть или обменять заказ?
                                i.accordion__arrow.i-accordion__arrow
                                p.accordion__short-info Возврат или обмен товара можно произвести несколькими способами.
                            .accordion__long-info.i-accordion__long-info
                                p.accordion__question При возврате ЧЕК по закону НЕОБЯЗАТЕЛЕН.
                                p.accordion__answer Потому достаточно вспомнить: когда, что и в каком количестве покупали.
                                p.accordion__question Обнаружили брак или недовоз при получении?
                                p.accordion__answer Сразу можете обратиться к водителю и в течение дня будет произведена замена и довезен остаток.
                                p.accordion__question При получении поняли, что нужен другой товар?
                                p.accordion__answer Вы можете сказать об этом водителю, он заберет ненужный товар, в течение дня мы постараемся довезти заказ.
                                p.accordion__question Обнаружили брак уже при выполнении работ?
                                p.accordion__answer Нестрашно. Вам заменят брак в любом из наших магазинов.
                                p.accordion__question Остались излишки материалов с неистекшим сроком годности?
                                p.accordion__answer Примем в любой из наших магазинов.
                                a.accordion__more-info(href="#") Подробнее с условиями возврата и обмена можно ознакомиться в разделе «Возврат и обмен товара».